<div style="border-radius:20px; background-color:lightgray; padding-left: 50px;">
    <h3>RenderFragmentChild</h3>
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
